table{
    border: 2px solid;
    text-align: center;
    width: 50rem;
    margin: 2rem auto;
    
}
div{
    margin:2rem 2rem;
}
body {
    background: linear-gradient(110deg,#ff9748, #7d6efe ,#43ecfb );
    padding: 2rem 2rem;
    text-align: center;
}

tr{
    border: 2px solid;
}
td{
    border: 2px solid;
    font-family: 'Arvo', serif;
}
th{
    border: 2px solid;
}
#main-heading{
    font-family:'Poppins', sans-serif;
    text-align: center;
    color: black;
    font-size: 4rem;
    margin-bottom:4rem ;
}
h3{
    color: #000000;
    font-family: 'Poppins', sans-serif;  
    font-size: 2rem;
}
h2,h6{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
h6{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
    font-family: 'Arvo', serif;
}
.form-control{
    font-family: 'Arvo', serif;
}
.int{
    width: 5rem;
}
.btn{
    font-family: 'BioRhyme', serif;
}
hr{
    width:10%;
    border-style: none;
    border-top-style: dashed;
    border-width: 8px;
    margin: 50px auto 50px auto;
    background-color: #ef8172;
    color:#00bfff;
}
.text{
    /* For editing the style of text present in the page */
    font-family: 'BioRhyme', serif;
}
.generateAvailable{
    width: 30px;
    height: 30px;
}
